:root {
  --primary-color: #8263a3;
  --text-dark: #232637;
  --white: #ffffff;
  --max-width: 1200px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

body {
  background-color: #dbdce0;
}

body::after {
  position: fixed;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  background-color: var(--text-dark);
  z-index: -1;
  animation: body-bg 1s ease-in-out forwards;
}

@keyframes body-bg {
  0% {
    width: 0vw;
  }
  100% {
    width: 50vw;
  }
}

.container {
  position: relative;
  isolation: isolate;
  min-height: 100vh;
  max-width: var(--max-width);
  margin-inline: auto;
  overflow: hidden;
}

nav {
  padding: 2rem 0;
  padding-inline: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.nav__links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.nav__links a {
  font-weight: 500;
}

.nav__links .logo {
  font-size: 1.2rem;
  font-weight: 800;
}

.nav__left a {
  color: var(--text-dark);
}

.nav__right a {
  color: var(--white);
}

.nav__links a:hover {
  color: var(--primary-color);
}

.letter-q {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Symbol";
  font-size: 40rem;
  color: #000000;
  transform-origin: 50% 55%;
  animation: rotate 2s ease-in-out;
}
@keyframes rotate {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.footer {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  padding-inline: 1rem;
  bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.footer p {
  font-size: 0.9rem;
  color: var(--text-dark);
}

.footer__links {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.footer__links li {
  opacity: 0;
  animation: fade-in 0.3s ease-in-out forwards;
}

.footer__links li:nth-child(1) {
  animation-delay: 2s;
}

.footer__links li:nth-child(2) {
  animation-delay: 2.5s;
}

.footer__links li:nth-child(3) {
  animation-delay: 3s;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.footer__links a {
  color: var(--white);
}

.footer__links a:hover {
  color: var(--primary-color);
}

/**/

.btn {
  position: absolute;
  padding: 10px 20px;
  background: #fff;
  color: #000;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 2;
  opacity: 0;
}


.btn-ne {
  animation: moveNE 2s ease-in-out forwards;
}

.btn-nw {
  animation: moveNW 2s ease-in-out forwards;
}

.btn-sw {
  animation: moveSW 2s ease-in-out forwards;
}

.btn-se {
  animation: moveSE 2s ease-in-out forwards;
}


@keyframes moveNE {
  0% {
    top: -80px;
    right: -80px;
    opacity: 0;
  }
  50% {
    top: 25%;
    right: 5%;
    opacity: 1;
  }
  100% {
    top: 35%;
    right: 15%;
    opacity: 1;
  }
}

@keyframes moveNW {
  0% {
    top: -80px;
    left: -80px;
    opacity: 0;
  }
  50% {
    top: 25%;
    left: 5%;
    opacity: 1;
  }
  100% {
    top: 35%;
    left: 15%;
    opacity: 1;
  }
}

@keyframes moveSW {
  0% {
    bottom: -80px;
    left: -80px;
    opacity: 0;
  }
  50% {
    bottom: 25%;
    left: 5%;
    opacity: 1;
  }
  100% {
    bottom: 35%;
    left: 15%;
    opacity: 1;
  }
}

@keyframes moveSE {
  0% {
    bottom: -80px;
    right: -80px;
    opacity: 0;
  }
  50% {
    bottom: 25%;
    right: 5%;
    opacity: 1;
  }
  100% {
    bottom: 35%;
    right: 15%;
    opacity: 1;
  }
}
